*{
    margin: auto;
    padding: 0;
}

body{
    max-width: 100%;
    height: 100vh;
    margin: 10px;
    text-align: center;
    background: linear-gradient(rgb(48, 2, 84),rgb(1, 90, 185),rgb(96, 1, 18));
}
h1{
    font-size: 4rem;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.stone{

    margin: 25px 10px ;
    width: 10%;
    height: 20%;
    border-radius: 50%;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    
}

#stone{
    background-color: rgb(4, 104, 104);
}
#paper{
    background-color: rgb(100, 3, 174);
}
#scissor{
    background-color: rgb(164, 75, 138);
}
#stone:hover{
    background-color: rgb(5, 193, 177);
   
}
#paper:hover{
    background-color: rgb(36, 3, 80);
   
}
#sc:hover{
    background-color: rgb(127, 2, 111);
   
}
.score{
    font-size: 3rem;
    margin: 35px;
    display: inline-block;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}
#msg{
    font-size: 3rem;
    margin: 2px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}